server/dist
client/.next/
server/node_modules
client/node_modules
server/build
client/build

server/.idea
client/.idea
.idea


# dotenv environment variable files
# .env
.env.development.local
.env.test.local
.env.production.local
.env.local

next-env.d.ts
